*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10;
    padding: 10;
}
h1{
    text-align: center;
}

.titulo{
    text-decoration: none;
    border: 1px solid grey;
    padding: 10px;
    color: #000;
    background-color: white;
    border-radius: 10px;
}

.titulo:hover{
    text-decoration: none;
    border: 1px solid blue;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
.submit{
    border-radius: 20px;
    padding: 20px;
    color: #af3f2f;
    font-size: 24px;
    background-color: darkgreen;
}
.submit:hover{
    border-radius: 20px;
    padding: 20px;
    color: darkgreen;
    font-size: 24px;
    background-color: #af3f2f;
}
.formulario{
    font-size: 14px;
    border: 1px solid #000;
    align-items: center;
    padding: 30px;
    background-color: dimgrey;
    border-radius: 20px;
}
.formulario input::placeholder{
    color: aqua;
    font-size: 14px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}